/* Reset some default browser CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    background-color: black;
    color: white;

    --primary-color: rebeccapurple;
    --secondary-color: rgb(112, 76, 148);
}

main > div {
    margin: 4rem 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

header h1 {
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.gauess-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#wordDisplay {
    font-size: 2rem;
    letter-spacing: 0.4rem;
}

#letterInput {
    font-size: 1.5rem;
    padding: 0.5rem;
}

#word-display,
#keyboard {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

#keyboard {
    max-width: 45rem;
    margin: auto;
}

.letter {
    font-size: 2rem;
    padding: 0.7rem;
    border-bottom: 2px solid black;
    width: 1.5rem;
    text-align: center;
}

#clue-section {
    font-size: 1.5rem;
}

button {
    font-size: 1.2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 1.5rem;

    transition: 1s background ease-in-out;
}

button:disabled {
    background-color: red;
}

#new-game-button {
    background: var(--primary-color);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    width: 7rem;
}

.hangman-grapic-play {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

#status {
    font-size: 2rem;
}

#hangman-container {
    position: relative;
    width: 12.5rem;
    height: 15.625rem;
}

#hang .base {
    width: 100%;
    height: 0.625rem;
    background: var(--primary-color);
    position: absolute;
    bottom: 0;
}

#hang .pole {
    width: 0.625rem;
    height: 14.325rem;
    background: var(--primary-color);
    position: absolute;
    bottom: 0.625rem;
    left: 3.125rem;
}

#hang .beam {
    width: 6.25rem;
    height: 0.625rem;
    background: var(--primary-color);
    position: absolute;
    top: 0;
    left: 3.125rem;
}

#hang .rope {
    width: 0.125rem;
    height: 1.875rem;
    background: var(--primary-color);
    position: absolute;
    top: 0.625rem;
    left: 9.063rem;
}

#figure .part {
    display: none;
    position: absolute;
    background: #fff;
}

.head {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    left: 8.125rem;
    top: 2.5rem;
}

.body {
    width: 0.25rem;
    height: 3.125rem;
    left: 9.063rem;
    top: 4.375rem;
}

.left-arm {
    width: 1.875rem;
    height: 0.25rem;
    top: 5rem;
    left: 7.188rem;
    transform: rotate(-30deg);
    transform-origin: right;
}

.right-arm {
    width: 1.875rem;
    height: 4px;
    top: 80px;
    left: 145px;
    transform: rotate(30deg);
    transform-origin: left;
}

.left-leg {
    width: 1.875rem;
    height: 0.25rem;
    top: 7.5rem;
    left: 7.188rem;
    transform: rotate(-30deg);
    transform-origin: right;
}

.right-leg {
    width: 1.875rem;
    height: 0.25rem;
    top: 7.5rem;
    left: 9.063rem;
    transform: rotate(30deg);
    transform-origin: left;
}
